div.st-emotion-cache-vdokb0 {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: -1.3rem;
}

div.st-emotion-cache-13ln4jf {
    padding: 1rem 1rem 10rem;
}

div.st-emotion-cache-dvne4q {
    padding: 3rem 1.5rem;
}

button.st-emotion-cache-13ejsyy{
    margin-left: 29px;
}

span.st-emotion-cache-10trblm {
    margin-left: 310px;
}

div.user-select-none.svg-container{
    position: relative;
    width: 700px;
    height: 400px;
}
